{% extends "main/base.html" %}

{% block title %} الملف الشخصي {% endblock %}

{% load static %}

{% block content %}

<style>


.action-link {
        color: #343779;
        text-decoration: none;
        font-weight: bold;
    }

    .action-link:hover {
        color: #2b2d68;
    }

    .action-link.accept {
        color: #28a745;
    }

    .action-link.reject {
        color: #dc3545;
    }

    .action-link.review {
        color: #daa549;
    }

    .rounded-card {
        border-radius: 1.5rem;
        overflow: hidden;
        border: dotted 2px #ccc;
    }
    .card-body {
        background-color: #fdfdfd;
    }

    .child-info{

        padding: 1rem;
    }

    .child-info h4{

        margin-top: 1rem;
    }



    .custom-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDFAF0;
    position: relative;
    padding: 50px;
    min-height: 300px;
}

.custom-column::before,
.custom-column::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.custom-column::before {
    left: 0;
    background-image: url('/static/main/images/w-t copy.png') ;
}

.custom-column::after {
    right: 0;
    background-image: url('/static/main/images/w-b copy.png');
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
}




</style>
<div class="row" >

    <div class="col-6 col-sm-6 col-md-4 col-lg-4 profile custom-column" style="padding-left: 7%;">

        <div class="d-flex flex-column justify-content-center align-items-center mt-2 gap-3">


            <div class="d-flex justify-content-between w-50">

                <a class="action-link" data-bs-toggle="modal" data-bs-target="#updateModal-{{ request.user.id }}" href="#">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F28B82" class="bi bi-pencil me-3" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>
                </a>

                <img src="{% static 'images/profile_default.jpg' %}" class="w-75 rounded-circle"/>

            </div>
            {% if request.user.is_superuser or request.user.is_staff %}

            <h4 class="text-purp">{{user.first_name}} {{user.last_name}}</h4>
            <div class="d-flex justify-content-center w-75">
                <h5>{{user.email}}</h5>
                <span class="material-symbols-outlined">
                    alternate_email
                </span>

            </div>
            {%elif request.user.is_authenticated  %}
            <h2 class="text-purp">{{user.first_name}} {{user.last_name}}</h2>
            <div class="d-flex justify-content-center align-items-center w-75 text-purp">

                <span class="material-symbols-outlined text-pink px-3">
                    alternate_email
                </span>
                <h5 >{{user.email}}</h5>

            </div>
            <div class="d-flex justify-content-center align-items-center w-75 text-purp">

                <span class="material-symbols-outlined text-pink px-3">
                    smartphone
                </span>
                <h5>{{user.parent.phone_number}}</h5>

            </div>
            <div class="d-flex justify-content-center align-items-center w-75 text-purp">

                <span class="material-symbols-outlined text-pink px-3">
                    call
                </span>
                <h5>{{user.parent.Work_number}}</h5>

            </div>

            {%endif%}




        </div>
    </div>


    {% if request.user.is_authenticated and not request.user.is_superuser and not request.user.is_staff %}

    <div class="col">

        <div class="d-flex justify-content-between align-items-center px-5">
            <h3 class="text-purp">أطفالي</h3>

            <a href="{% url 'parents:add_child' %}next={{ request.path }}" class="btn btn-outline-pink custom-filter-btn px-5 py-2 center rounded-pill mb-5" data-bs-toggle="modal" data-bs-target="#addNurseryModal">
              إضافة طفل
            </a>
        </div>


        <div class="container-fluid px-5">
            <div class="row mt-4">
                {% for child in children %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card rounded-card">
                        <div class="card-body">
                            <h5 class="card-title mb-3 p-2">
                                <div class="d-flex flex-column justify-content-center align-items-center">

                                    <img src="{{child.photo.url}}" class="w-75 rounded-circle"/>

                                    <a class="action-link" data-bs-toggle="modal" data-bs-target="#ViewChildyModal-{{ child.id }}" href="#">{{ child.first_name }} {{child.last_name}}</a>

                                </div>

                                <div class="d-flex justify-content-around mt-2">

                                    <!-- update icon -->
                                    <a data-bs-toggle="modal" data-bs-target="#updateModal-{{ child.id }}" href="#">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F28B82" class="bi bi-pencil me-3" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                        </svg>
                                    </a>
                                    <!-- delete icon -->

                                    <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ child.id }}" href="#">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F28B82" class="bi bi-trash3 me-3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </a>

                                </div>

                            </h5>

                    </div>
                    <!-- #ViewChildyModal -->
                    <div  class="modal fade" id="ViewChildyModal-{{ child.id }}" tabindex="-1" aria-labelledby="ViewChildyModal-{{ child.id }}" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <h5 class="modal-title ms-auto text-pink " id="updateModalLabel-{{ child.first_name }}">عرض بيانات {{ child.first_name }} </h5>
                                </div>
                                <div class="modal-body">
                                  <div class="child-info">
                                      <!-- Image and Name on Top Center -->
                                      <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                                          <img src="{{ child.photo.url }}" class="w-25 rounded-circle mb-3"/>
                                          <h5 class="text-white">{{ child.first_name }} {{ child.last_name }}</h5>
                                      </div>

                                      <!-- Child Information Below with justify-content-between -->
                                      <div class="d-flex flex-column">
                                          <div class="d-flex justify-content-between">
                                              <h6 class="text-white">الهوية :</h6>
                                              <h6 class="text-white">{{ child.national_id }}</h6>
                                          </div>
                                          {% if child.about %}
                                          <div class="d-flex justify-content-between">
                                              <h6 class="text-white">نبذة عن الطفل :</h6>
                                              <h6 class="text-white">{{ child.about }}</h6>
                                          </div>
                                          {% else %}
                                          <div class="d-flex justify-content-between">
                                              <h6 class="text-white">نبذة عن الطفل :</h6>
                                              <h6 class="text-white">لا توجد نبذة عن الطفل</h6>
                                          </div>
                                          {% endif %}

                                          <div class="d-flex justify-content-between">
                                              <h6 class="text-white">العمر :</h6>
                                              <h6 class="text-white">{{ child.age }}</h6>
                                          </div>

                                          <div class="d-flex justify-content-between">
                                              <h6 class="text-white">الجنس :</h6>
                                              <h6 class="text-white">{{ child.get_gender_display }}</h6>
                                          </div>

                                          <div class="d-flex justify-content-between">
                                              <h6 class="text-white">الأمراض :</h6>
                                              {% if child.Disease %}
                                              <h6 class="text-white">{{ child.Disease }}</h6>
                                              {% else %}
                                              <h6 class="text-white">لا توجد أمراض مسجلة</h6>
                                              {% endif %}
                                          </div>

                                          <div class="d-flex justify-content-between">
                                              <h6 class="text-white">الحساسية :</h6>
                                              {% if child.Allergy %}
                                              <h6 class="text-white">{{ child.Allergy }}</h6>
                                              {% else %}
                                              <h6 class="text-white">لا توجد حساسية مسجلة</h6>
                                              {% endif %}
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </div>
                        </div>
                    </div>
                <!-- Modal for Update Form -->

                <div class="modal fade" id="updateModal-{{ child.id }}" tabindex="-1" aria-labelledby="updateModalLabel-{{ child.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h5 class="modal-title ms-auto text-pink" id="updateModalLabel-{{ child.first_name }}">تعديل بيانات {{ child.first_name }} </h5>

                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'parents:update_child' child.id %}?next={{ request.path }}">
                                    {% csrf_token %}
                                    <div class="form-container">
                                        <div class="mb-3 text-end text-white">
                                            <img src="{{ child.photo.url }}" alt="{{ child.first_name }}" class="img-thumbnail mt-2 mb-2" style="max-height: 130px;">
                                            <label for="child-photo" class="form-label">صورة الطفل</label>
                                            <input type="file" name="photo" class="form-control"  accept="image/*"/>

                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-first-name" class="form-label">الأسم الاول</label>
                                            <input type="text" class="form-control" id="child-first-name" name="first_name" value="{{ child.first_name }}"
                                                required>
                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-last-name" class="form-label">الأسم الثاني</label>
                                            <input type="text" class="form-control" id="child-last-name" name="last_name" value="{{ child.last_name }}"
                                                required>
                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-birth-date" class="form-label">تاريخ الميلاد</label>
                                            <input type="date" class="form-control" id="birth-date"  min="2000-01-01" max="2024-08-29" name="birth_date" value="{{ child.birth_date|date:'Y-m-d' }}"
                                                required>
                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-national-id" class="form-label">رقم الهوية</label>
                                            <input type="text" class="form-control" id="child-national-id" name="national_id" value="{{child.national_id}}"
                                            minlength="10" maxlength="10" required>
                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-about" class="form-label">نبذه عن الطفل</label>
                                            <textarea class="form-control" id="child-about" name="about" >{{child.about}}</textarea>
                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-about" class="form-label"> الامراض </label>
                                            <textarea class="form-control" id="child-about" name="Disease" >{{child.Disease}}</textarea>
                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-about" class="form-label"> الحساسية </label>
                                            <textarea class="form-control" id="child-about" name="Allergy" >{{child.Allergy}}</textarea>
                                        </div>
                                        <div class="mb-3 text-end text-white">
                                            <label for="child-gender" class="form-label">جنس الطفل</label>
                                            <select class="form-control" id="child-gender"  name="gender" required>

                                                {% for value, label in gender %}
                                                <option value="{{ value }}" {% if child.gender == value %}selected{% endif %}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    <div class="mt-auto d-flex justify-content-center">
                                      <button type="submit" class="btn btn-dark custom-filter-btn rounded-pill">حفظ التعديلات</button>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Modal for Deletion Confirmation -->

                <div class="modal fade" id="deleteModal-{{ child.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ child.id }}"
                    aria-hidden="true">

                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              <h5 class="modal-title ms-auto text-pink" id="deleteModalLabel-{{ activity.id }}">تأكيد الحذف</h5>
                            </div>
                            <div class="modal-body text-center text-white">
                              هل انت متاكد من حذف
                                "{{ child.first_name }}"
                                ؟
                            </div>
                            <div class="modal-footer justify-content-center">
                              <button type="button" class="btn btn-warning rounded-pill" data-bs-dismiss="modal">تراجع</button>
                              <a href="{% url 'parents:delete_child' child.id %}?next={{ request.path }}" class="btn btn-danger rounded-pill">حذف</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

        </div>
        </div>


        <!-- Modal for Adding child -->
        <div class="modal fade" id="addNurseryModal" tabindex="-1" aria-labelledby="addNurseryModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <h5 class="modal-title ms-auto text-pink" id="addNurseryModalLabel">أضف طفل</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'parents:add_child' %}?next={{ request.path }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-container">
                                <div class="mb-3 text-end text-white">
                                    <label for="child-photo" class="form-label">صورة الطفل</label>
                                    <input type="file" class="form-check-input" id="child-photo" name="photo">
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-first-name" class="form-label">الأسم الاول</label>
                                    <input type="text" class="form-control" id="child-first-name" name="first_name"
                                        required>
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-last-name" class="form-label">الأسم الثاني</label>
                                    <input type="text" class="form-control" id="child-last-name" name="last_name"
                                        required>
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-birth-date" class="form-label">تاريخ الميلاد</label>
                                    <input type="date"  min="2000-01-01" max="2024-08-29" class="form-control" id="child-birth-date" name="birth_date"
                                        required>
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-national-id" class="form-label">رقم الهوية</label>
                                    <input type="text" class="form-control" id="child-national-id" name="national_id"
                                       minlength="10" maxlength="10" required>
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-about" class="form-label">نبذه عن الطفل</label>
                                    <textarea class="form-control" id="child-about" name="about" ></textarea>
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-about" class="form-label"> الامراض التي يعاني منها الطفل </label>
                                    <textarea class="form-control" id="child-about" name="Disease" placeholder="الربو،السكري" ></textarea>
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-about" class="form-label"> الحساسية</label>
                                    <textarea class="form-control" id="child-about" name="Allergy"  placeholder="المكسرات،البيض"></textarea>
                                </div>
                                <div class="mb-3 text-end text-white">
                                    <label for="child-gender" class="form-label">جنس الطفل</label>
                                    <select class="form-control" id="child-gender" name="gender" required>
                                        {% for value, label in gender %}
                                        <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mt-auto d-flex justify-content-center">
                                  <button type="submit" class="btn btn-dark custom-filter-btn rounded-pill">أضف الطفل</button>
                              </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="modal fade" id="updateModal-{{ request.user.id }}" tabindex="-1" aria-labelledby="updateModalLabel-{{ child.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel-{{ request.user.first_name }}">تعديل بيانات  </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{%url 'parents:update_user' %}">
                    {% csrf_token %}
                    <div class="form-container">

                        <div class="mb-3 text-end text-white">
                            <label for="child-first-name" class="form-label">الأسم الاول</label>
                            <input type="text" class="form-control" id="child-first-name" name="first_name" value="{{ request.user.first_name }}"
                                >
                        </div>
                        <div class="mb-3 text-end text-white">
                            <label for="child-last-name" class="form-label">الأسم الثاني</label>
                            <input type="text" class="form-control" id="child-last-name" name="last_name" value="{{ request.user.last_name }}"
                                >
                        </div>
                        <div class="mb-3 text-end text-white">
                            <label for="floatingInput">اسم المستخدم</label>
                            <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username" value="{{request.user.username}}">
                        </div>
                        <div class="mb-3 text-end text-white">
                            <label for="floatingInput">البريد الالكتروني</label>
                            <input type="email" class="form-control" id="floatingInput" placeholder="" name="email" value="{{request.user.email}}">
                        </div>
                        <div class="mb-3 text-end text-white">
                            <label for="floatingInput">رقم الهاتف</label>
                            <input type="text" value="{{request.user.parent.phone_number}}" class="form-control" id="floatingInput" placeholder="9665555555555" name="phone_number" maxlength="10" minlength="10" required>
                        </div>
                        <div class="mb-3 text-end text-white">
                            <label for="floatingInput">رقم هاتف العمل</label>
                            <input type="text" value="{{request.user.parent.Work_number}}" class="form-control" id="floatingInput" placeholder="9665555555555" name="Work_number" maxlength="10" minlength="10" required>
                        </div>


                    <button type="submit" class="btn btn-primary">أحفظ التعديلات</button>
                </form>
            </div>
        </div>
    </div>
</div>


{%endif%}



{% endblock %}
