{% extends 'main/base.html'%}

{% block title %} طلباتي{% endblock %}



{% block hero %}

<section class="ylo-section-wrapper">
  <div class="d-flex justify-content-center">
    <h3 class="text-center text-purp py-5 mt-5"> طلباتي </h3>
    <!-- <pre>{{ registration_requests }}</pre>
    <p class="text-center text-muted">لديك {{ registration_requests|length }} طلبات تسجيل</p> -->
  </div>
</section>

{% endblock %}




{% block content %}

<style>
    .action-link {
        color: #f28b82;
        text-decoration: none;
        font-weight: bold;
    }

    .action-link:hover {
        color: #343779;
    }

    .action-link.accept {
        color: #28a745;
    }

    .action-link.reject {
        color: #dc3545;
    }

    .action-link.review {
        color: #daa549;
    }

    .rounded-card {
        border-radius: 1.5rem;
        overflow: hidden;
        border: dotted 2px #ccc;
    }
    .card-body {
        background-color: #fdfdfd;
    }

</style>


<div class="container-fluid">
    {% if registration_requests %}
    <div class="row mt-4">
        {% for request in registration_requests %}
        <div class="col-lg-4 col-md-6 mb-4 d-flex">
            <div class="card rounded-card w-100">
                <div class="card-body">

                    <h5 class="card-title mb-3 d-flex justify-content-center action-link">
                        <a href="{% url 'nurseries:nursery_detail' request.subscription.nursery.id %}">{{ request.subscription.nursery }}</a>
                    </h5>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="{{ request.child.photo.url }}" class=" mt-2 mb-2 rounded" style="max-height: 70px;" alt="">
                        </div>
                        <div class="col d-flex justify-content-center mb-3">
                            <h6 class="mb-0 text-purp ms-auto text-center"> الطفل:  </h6>
                            <h6 class="text-purp">  {{ request.child.first_name }} {{ request.child.last_name }}</h6>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center flex-column">
                      <h6 class=" text-center "><strong>حالة الطلب :</strong> {{ request.get_status_display }}</h6>
                      {% if request.status == 'rejected' %}
                      <h6><strong>سبب الرفض:</strong> {{ request.rejection_reason }}</h6>
                      {% endif %}
                  </div>

                  <div class="d-flex justify-content-center mt-3">
                      <h6 class="card-title mb-3">
                          {% if request.status == 'reviewing' %}
                          <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ request.id }}" href="#" class="action-link reject">
                              إلغاء الطلب
                          </a>
                          {% elif request.status == 'rejected' %}
                          <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ request.id }}" href="#">
                              <span class="material-symbols-outlined">delete</span>
                          </a>
                          {% elif request.status == 'waiting_payment' %}
                          <a href="{% url 'nurseries:check_out' request.child.id %}" class="action-link accept">
                              ادفع الآن
                          </a>
                          {% endif %}
                      </h6>
                  </div>


                    <!-- Modal for Deletion Confirmation -->
                    <div class="modal fade" id="deleteModal-{{ request.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ request.id }}" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <h5 class="modal-title ms-auto text-pink" id="deleteModalLabel-{{ request.id }}">تأكيد الالغاء </h5>

                                </div>
                                <div class="modal-body text-center text-white">
                                    هل انت متاكد من الغاء طلب تسجيل "{{ request.child.first_name }}"؟
                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-warning rounded-pill" data-bs-dismiss="modal">تراجع</button>
                                  <a href="{% url 'registrations:delete_registration' request.id %}?next={{ request.path }}" class="btn btn-danger rounded-pill">الغاء الطلب</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="col-12 text-center">
      <div class="d-flex flex-column align-items-center">
          <div style="width: 100px; height: 100px;">
              <svg
                  height="100%"
                  stroke-miterlimit="10"
                  style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;"
                  version="1.1"
                  viewBox="4.21966 -0.000301042 458.837 467.277"
                  width="100%"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:vectornator="http://vectornator.io"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs/>
                  <clipPath id="ArtboardFrame">
                      <rect height="467.277" width="458.837" x="4.21966" y="-0.000301042"/>
                  </clipPath>
                  <g clip-path="url(#ArtboardFrame)" id="Layer" vectornator:layerName="Layer">
                      <g opacity="1" vectornator:layerName="g">
                          <path
                              d="M379.284 51.144C348.258 24.297 309.568 13.46 269.579 8.672C163.069-25.3 68.062 44.959 26.578 142.38C-18.134 247.382 3.143 364.597 100.094 430.078C199.074 496.924 335.116 469.447 411.036 381.451C494.021 285.274 473.541 132.719 379.284 51.144ZM196.853 432.703C140.696 424.71 86.217 390.16 57.762 340.898C32.324 296.851 32.537 241.695 43.942 193.586C61.469 119.626 114.508 52.876 183.828 36.9C183.932 36.905 184.021 36.935 184.125 36.935C209.068 37.674 235.416 37.717 261.17 40.502C263.608 41.266 266.045 42.025 268.503 42.922C272.561 44.402 276.114 44.212 279.085 42.993C306.872 47.67 333.404 56.572 356.042 74.385C406.121 113.79 432.521 184.846 431.074 247.081C428.353 364.389 307.974 448.516 196.853 432.703Z"
                              fill="#F5888E"
                              fill-rule="nonzero"
                              opacity="1"
                              stroke="none"
                              vectornator:layerName="path"/>
                          <path
                              d="M169.279 211.913C192.559 211.913 192.559 175.809 169.279 175.809C145.999 175.808 145.999 211.913 169.279 211.913Z"
                              fill="#F5888E"
                              fill-rule="nonzero"
                              opacity="1"
                              stroke="none"
                              vectornator:layerName="path"/>
                          <path
                              d="M293.832 213.715C317.119 213.715 317.119 177.613 293.832 177.613C270.555 177.613 270.555 213.715 293.832 213.715Z"
                              fill="#F5888E"
                              fill-rule="nonzero"
                              opacity="1"
                              stroke="none"
                              vectornator:layerName="path"/>
                          <path
                              d="M134.855 300.254C117.821 316.189 143.404 341.665 160.387 325.781C203.689 285.284 259.489 280.998 302.738 323.978C319.262 340.4 344.8 314.878 328.265 298.446C270.92 241.467 192.476 246.372 134.855 300.254Z"
                              fill="#F5888E"
                              fill-rule="nonzero"
                              opacity="1"
                              stroke="none"
                              vectornator:layerName="path"/>
                      </g>
                  </g>
              </svg>
          </div>
          <p class="text-center fs-5 text-muted mt-3">لا يوجد طلبات تسجيل لأطفالك</p>
      </div>
  </div>

    {% endif %}
</div>

{% endblock %}
