{% extends "main/base.html" %}

{% block title %} التسجيل كولي امر{% endblock %}


{% block content %}

<div class="d-flex flex-column gap-3 mb-3 justify-content-center align-items-center">

  <h2>انشئ حساب كولي امر </h2>
  <form class="d-flex flex-column gap-3 w-50 m-4" action="{% url 'parents:signup_parent' %}" method="POST"
      enctype="multipart/form-data">
      {% csrf_token %}


      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username" required>
          <label for="floatingInput">اسم المستخدم</label>
      </div>

      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="First name" name="first_name"
              required>
          <label for="floatingInput">الاسم الاول</label>
      </div>

      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Last name" name="last_name"
              required>
          <label for="floatingInput">الاسم الاخير</label>
      </div>

      <div class="form-floating">
          <label for="floatingInput">البريد الالكتروني</label>
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
              required>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="9665555555555" name="phone_number" maxlength="10" minlength="10" required>
        <label for="floatingInput">رقم الهاتف</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="9665555555555" name="Work_number" maxlength="10" minlength="10" required>
      <label for="floatingInput">رقم هاتف العمل</label>
  </div>

      <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
              required>
          <label for="floatingPassword">كلمة المرور</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">انشاء حساب</button>
  </form>
  <h5>لديك حساب ؟ <a href="{% url 'parents:signin' %}"> سجل الدخول</a> او <a
          href="{% url 'parents:signup_manager' %}"> سجل كمالك حضانة</a></h5>

</div>

{% endblock %}
