{% extends 'main/admin_dashboard.html' %}
{% load static %}

{% block title %}الاحصائيات {% endblock %}

{% block Dashboard-content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>مجموع الارباح {{total_profit}}</h1>
<h1>عدد مالكين الحضانات{{owners_count}}</h1>
<h1>اولياء الأمور{{parent_count}}</h1>
<h1> عدد الحضانات{{nurseries_count}}</h1>

<canvas id="revenueChart" width="400" height="200" style="margin: 10px;"></canvas>
<script>
    var ctx = document.getElementById('revenueChart').getContext('2d');
    var revenueChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ months|safe }},
            datasets: [{
                label: 'العائد الشهري',
                data: {{ prices|safe }},
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}