{% extends 'main/base.html' %}

{% block title %}حضاناتنا{% endblock %}

{% block hero %}
<section class="ylo-section-wrapper">
    <div class="ylo-section py-5 px-5">
        <form method="get" action="{% url 'nurseries:nurseries_list' %}" class="row align-items-center justify-content-between mt-5 mb-5">
            <div class="col-md-8 d-flex flex-wrap gap-2 justify-content-center justify-content-md-start filter-buttons">
                <button type="submit" class="btn btn-dark custom-filter-btn rounded-pill">
                    <i class="fas fa-filter me-1"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter" viewBox="0 0 24 24">
                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                    </svg> 
                </button>
              
        
                <div class="dropdown">
                    <select name="age_range" class="form-select custom-select rounded-pill" onchange="this.form.submit()">
                        <option value="">اختر الفئة العمرية</option>
                        <option value="3-6" {% if age_range == "3-6" %}selected{% endif %}>3-6 أشهر</option>
                        <option value="6-12" {% if age_range == "6-12" %}selected{% endif %}>6 أشهر - 1 سنة</option>
                        <option value="12-24" {% if age_range == "12-24" %}selected{% endif %}>1-2 سنوات</option>
                        <option value="24-36" {% if age_range == "24-36" %}selected{% endif %}>2-3 سنوات</option>
                        <option value="48-60" {% if age_range == "48-60" %}selected{% endif %}>4-5 سنوات</option>
                    </select>
                </div>
                <div class="dropdown">
                    <select name="min_rating" class="form-select custom-select rounded-pill" onchange="this.form.submit()">
                        <option value="" {% if min_rating == "" %}selected{% endif %}>اختر الحد الأدنى للتقييم</option>
                        <option value="1" {% if min_rating == "1" %}selected{% endif %}>1 </option>
                        <option value="2" {% if min_rating == "2" %}selected{% endif %}>2 </option>
                        <option value="3" {% if min_rating == "3" %}selected{% endif %}>3 </option>
                        <option value="4" {% if min_rating == "4" %}selected{% endif %}>4 </option>
                        <option value="5" {% if min_rating == "5" %}selected{% endif %}>5 </option>
                    </select>
                </div>
                <div class="dropdown">
                    <select name="city" class="form-select custom-select rounded-pill" onchange="this.form.submit()">
                        <option value="">المدينه</option>
                        {% for city_option in cities %}
                            <option value="{{ city_option }}" {% if city == city_option %}selected{% endif %}>{{ city_option }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="dropdown">
                    <select name="neighborhood" class="form-select custom-select rounded-pill" onchange="this.form.submit()">
                        <option value="">الحي</option>
                        {% for neighborhood_option in neighborhoods %}
                            <option value="{{ neighborhood_option }}" {% if neighborhood_option == neighborhood %}selected{% endif %}>{{ neighborhood_option }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="form-check mx-end">
                    <input type="checkbox" class="form-check-input" name="special_needs" value="1" {% if special_needs %}checked{% endif %} onchange="this.form.submit()">
                    <label class="form-check-label">ذوي احتياجات خاصة</label>
                </div>
        
                <div class="w-100"></div> <!-- Clear after the last element -->
            </div>
        
            <!-- Search Bar and Submit Button -->
            <div class="col-md-4 d-flex justify-content-center justify-content-md-end mt-2 mt-md-0 gap-2">
                <input type="text" name="searched" value="{{ search_term }}" class="form-control me-2 rounded-pill" placeholder="بحث...">
                <button type="submit" class="btn btn-dark rounded-pill ">البحث</button>
            </div>

            <!-- Clear Filters Button on a New Row -->
            <div class="col-12 d-flex justify-content-center justify-content-md-start mt-3">
                <a href="{% url 'nurseries:nurseries_list' %}" class="btn btn-outline-secondary rounded-pill btn-outline-pink">إزالة التصفية</a>
            </div>
        </form>
    </div>
</section>




{% endblock %}



{% block content %}
<div class="container mt-4" id="nurseries-container">
    <!-- Nurseries List -->
    <div class="row mt-4 gy-4">  <!-- Added gy-4 for gap between cards -->
        {% if has_nurseries %}
            {% for nursery in nurseries %}
            <div class="col-lg-12">
                <div class="d-flex flex-lg-row{% if forloop.counter|divisibleby:2 %} flex-lg-row-reverse{% endif %}">
                    <div class="col-lg-6 p-3">
                        <div class="nursery-card border rounded bg-light h-100 d-flex align-items-center justify-content-center" 
                            style="border: 3px dotted {% if forloop.counter|divisibleby:2 %}#F4C93A{% else %}#F5888E{% endif %};">
                            <img src="{{ nursery.main_image.url }}" alt="Image of {{ nursery.name }}" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-between p-3">
                        <div class="d-flex align-items-start gap-2">
                            <h2 class="h5 mb-2">{{ nursery.name }} </h2>

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F5888E" class="bi bi-patch-check" viewBox="0 0 16 16">  <!-- Increased size and changed color -->
                                    <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                    <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                                </svg>

                        </div>

                        <div class="d-flex align-items-center">
                            {% if nursery.avg_rating == 1 %}
                            <span class="material-symbols-outlined">star</span>
                            {% elif nursery.avg_rating == 2 %}
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            {% elif nursery.avg_rating == 3 %}
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            {% elif nursery.avg_rating == 4 %}
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            {% elif nursery.avg_rating == 5 %}
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            {% else %}
                            <h6>غير مقيم حتى الان</h6>
                            {% endif %}
                        </div>
                        <div>
                            <p class="mb-2">{{ nursery.description|truncatewords:20 }}</p>
                            <p class="text-muted small">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>
                                {{ nursery.neighborhood.city.name }} - {{ nursery.neighborhood.name }}
                            </p>
                            <p class="text-muted small">
                                <span class="material-symbols-outlined">child_care</span>

                                {{ nursery.min_display }} - {{ nursery.max_display }}
                            </p>
                        </div>

                        <div class="d-flex justify-content-end align-items-center">
                            <a href="{% url 'nurseries:nursery_detail' nursery.id %}" class="btn btn-dark rounded-pill btn-size" 
                                style="background-color: {% if forloop.counter|divisibleby:2 %}#F5888E{% else %}#343779{% endif %}; border-color: {% if forloop.counter|divisibleby:2 %}#F5888E{% else %}#343779{% endif %};">
                                المزيد
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center fs-4 text-muted">لا توجد حضانات مطابقة للبحث أو الفلاتر.</p>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p class="text-center fs-4 text-muted">لا توجد حضانات في قاعدة البيانات.</p>
            </div>
        {% endif %}
    </div>

    <!-- Pagination -->
    {% if nurseries.has_other_pages %}
    <nav aria-label="Page navigation" class="py-5">
        <ul class="pagination justify-content-center">
            {% if nurseries.has_previous %}
            <li class="page-item">
                <a class="page-link rounded-pill" href="?page={{ nurseries.previous_page_number }}" aria-label="Previous" onclick="loadPage('{{ nurseries.previous_page_number }}'); return false;">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in nurseries.paginator.page_range %}
                {% if nurseries.number == num %}
                    <li class="page-item active"><span class="page-link rounded-pill">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link rounded-pill" href="?page={{ num }}" onclick="loadPage('{{ num }}'); return false;">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if nurseries.has_next %}
            <li class="page-item">
                <a class="page-link rounded-pill" href="?page={{ nurseries.next_page_number }}" aria-label="Next" onclick="loadPage('{{ nurseries.next_page_number }}'); return false;">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}


<script type="text/javascript">
    function loadPage(page) {
        $.ajax({
            url: '?page=' + page,
            type: 'GET',
            success: function(data) {
                $('#nurseries-container').html($(data).find('#nurseries-container').html());
                window.history.pushState("", "", '?page=' + page);
            },
            error: function(xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            }
        });
    }
</script>
