{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{nursery.name}}{% endblock %}
{% block content %}
<link href="{% static 'css/main.css' %}?v=1.1" rel="stylesheet" />
<style>
    .rounded-card {
        border-radius: 1.5rem; /* This will apply rounded corners to the entire card */
        overflow: hidden; /* Ensures that the background and content inside respect the border-radius */
    }
    .color-activty ,.modal-content  {
        background-color: #FFF3F4; /* Background color applied directly to card-body */
    }
    
</style>
<br>
<div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for item in gallery_items %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% if item.type == 'video' %}
            <video class="d-block w-100" controls>
                <source src="{{ item.video.url }}" type="video/mp4">
            </video>
            {% else %}
            <img src="{{ item.image.url }}" class="d-block w-100" alt="Gallery Image">
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="row mt-4">
    <div class="col-12 ">
        <div class="d-flex justify-content-end">
            <a href="{% url 'nurseries:add_gallery' nursery.id %}" class="btn btn-light btn-lg rounded-pill shadow-sm" style="font-weight: bold; background-color:#FFFFFF;" data-bs-toggle="modal" data-bs-target="#addGalleryModal"><h6>أضافة صور، مقاطع</h6></a>
        </div>
    </div>
</div>
<h1>{{nursery.name}}</h1>
<br>
<div class="row align-items-center">
    <div class="col-auto">
        <!-- icon -->
    </div>
    <div class="d-flex align-items-center mb-3" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
        <h6 class="mb-0">{{ nursery.neighborhood }}</h6>
        <div style="width: 100px;"></div> <!-- Custom spacer -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-arms-up mx-2" viewBox="0 0 16 16">
            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
        </svg>
        <span>{{ min }} - {{ max }}</span>
        <div style="width: 100px;"></div> <!-- Custom spacer -->
        {% if nursery.accepts_special_needs %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-wheelchair" viewBox="0 0 16 16">
            <path d="M12 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m-.663 2.146a1.5 1.5 0 0 0-.47-2.115l-2.5-1.508a1.5 1.5 0 0 0-1.676.086l-2.329 1.75a.866.866 0 0 0 1.051 1.375L7.361 3.37l.922.71-2.038 2.445A4.73 4.73 0 0 0 2.628 7.67l1.064 1.065a3.25 3.25 0 0 1 4.574 4.574l1.064 1.063a4.73 4.73 0 0 0 1.09-3.998l1.043-.292-.187 2.991a.872.872 0 1 0 1.741.098l.206-4.121A1 1 0 0 0 12.224 8h-2.79zM3.023 9.48a3.25 3.25 0 0 0 4.496 4.496l1.077 1.077a4.75 4.75 0 0 1-6.65-6.65z"/>
          </svg>
          {% endif %}

          <div style="width: 100px;"></div> <!-- Custom spacer -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg>
          <div style="width: 10px;"></div> <!-- Custom spacer -->
          <span>{{nursery.contact_number}}</span>

          <div style="width: 100px;"></div> <!-- Custom spacer -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
            <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
          </svg>
          <div style="width: 10px;"></div> <!-- Custom spacer -->
          <span>{{nursery.email}}</span>



    </div>


    <!-- activites view -->
<p class="mt-3">{{nursery.description}}</p>
<h1 class="mt-3  ">أنشطتنا</h1>
<div class="row ">
    <div class="col-12 ">
        <div class="d-flex justify-content-end">
            <a href="{% url 'nurseries:add_activity' nursery.id %}" class="btn btn-light btn-lg rounded-pill shadow-sm" style="font-weight: bold; background-color:#FFFFFF;" data-bs-toggle="modal" data-bs-target="#addActivityModal"><h6>أضافة نشاط</h6></a>
        </div>
    </div>
</div>

<div class="container-fluid px-lg-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <a class=" mb-3" href="#activityCarousel" role="button" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </a>
        </div>
        <div class="col-lg-8">
            <div id="activityCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for activity in activities %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <div class="container">
                                    <div class="row">
                        {% endif %}
                                        <div class="col-md-4 col-sm-6 mb-4">
                                            <div class="card  rounded-card">
                                                <div class="card-body color-activty">
                                                    <h5 class="card-title mb-1">
                                                       {{ activity.name }}
                                                        <!-- update icon -->
                                                        <a data-bs-toggle="modal" data-bs-target="#updateModal-{{ activity.id }}" href="#">

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil me-3" viewBox="0 0 16 16">
                                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                            </svg>
                                                        </a>
                                                        <!-- delete icon -->

                                                        <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ activity.id }}" href="#">

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 me-3" viewBox="0 0 16 16">
                                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                            </svg>
                                                        </a>                                                       
                                                    </h5>
                                                    <p class="mb-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-arms-up mx-2" viewBox="0 0 16 16">
                                                            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                                            <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.810 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
                                                        </svg>
                                                        <span>{{ activity.age_min }} - {{ activity.age_max }}</span>
                                                    </p>
                                                    <p class="card-text">
                                                       {{ activity.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Modal for Update activity Form -->
                            <div class="modal fade" id="updateModal-{{ activity.id }}" tabindex="-1" aria-labelledby="updateModalLabel-{{ activity.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateModalLabel-{{ activity.id }}"> تعديل بيانات النشاط</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>                                        
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'nurseries:update_activity' activity.id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <label for="activity-name-{{ activity.id }}" class="form-label">اسم النشاط</label>
                                                <input type="text" class="form-control mb-3" id="activity-name-{{ activity.id }}" name="name" value="{{ activity.name }}" required>

                                                <label for="activity-description-{{ activity.id }}" class="form-label">نبذة</label>
                                                <textarea class="form-control mb-3" id="activity-description-{{ activity.id }}" name="description" required> {{ activity.description }}</textarea>

                                                <label for="activity-age_min-{{ activity.id }}" class="form-label"> العمر الادنى</label>
                                                <input type="number" class="form-control mb-3" id="activity-age_min-{{ activity.id }}" name="age_min" value="{{ activity.age_min }}" required>

                                                <label for="activity-age_max-{{ activity.id }}" class="form-label">العمر الاقصى </label>
                                                <input type="number" class="form-control mb-3" id="activity-age_max-{{ activity.id }}" name="age_max" value="{{ activity.age_max }}" required>

                                                <label for="activity-image-{{ activity.id }}" class="form-label">صوره</label>
                                                <input type="file" class="form-control mb-3" id="activity-image-{{ activity.id }}" name="image" accept="image/*">

                                                <button type="submit" class="btn btn-primary">أحفظ التعديلات </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!-- Modal for activity Deletion Confirmation -->
                            <div class="modal fade" id="deleteModal-{{ activity.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ activity.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel-{{ activity.id }}">تأكيد الحذف </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                           هل انت متاكد من حذف 
                                           "{{ activity.name }}"
                                           ؟
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">تراجع</button>
                                            <a href="{% url 'nurseries:delete_activity' activity.id %}" class="btn btn-danger">حذف</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            <!-- right icon  Carousel -->

        <div class="col-auto">
            <a class=" mb-3" href="#activityCarousel" role="button" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
            </a>
        </div>
    </div>
</div>

    <!-- staff  -->

    <h1 class="mt-4">كادرنا التعليمي</h1>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <a href="{% url 'nurseries:add_staff' nursery.id %}" class="btn btn-light btn-lg rounded-pill shadow-sm" style="font-weight: bold; background-color:#FFFFFF;" data-bs-toggle="modal" data-bs-target="#addStaffModal"><h6>أضافة عضو</h6></a>
            </div>
        </div>
    </div>
<!-- all staff view -->
<div class="container-fluid px-lg-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <a class="mb-3" href="#staffCarousel" role="button" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>
        </div>
        <div class="col-lg-8">
            <div id="staffCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for staff in staffs %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <div class="container">
                                    <div class="row">
                        {% endif %}
                                        <div class="col-md-4 col-sm-6 mb-4">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body text-center">
                                                    <img src="{{ staff.image.url }}" alt="Staff Image" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                                                    <h5 class="card-title mb-1"> 
                                                       {{ staff.first_name }} {{ staff.last_name }}
                                                        <!-- update staff icon -->
                                                        <a data-bs-toggle="modal" data-bs-target="#updateStaffModal-{{ staff.id }}" href="#">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil me-3" viewBox="0 0 16 16">
                                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                            </svg>
                                                        </a>
                                                        <!-- delete staff icon -->

                                                        <a data-bs-toggle="modal" data-bs-target="#deleteStaffModal-{{ staff.id }}" href="#">

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 me-3" viewBox="0 0 16 16">
                                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                            </svg>
                                                        </a>                                                       
                                                    </h5>
                                                    <p class="text-muted">
                                                        {{ staff.specializations }}
                                                    </p>
                                                    <p class="small">
                                                       {{ staff.experience }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Modal for staff Update Form -->
                        <div class="modal fade" id="updateStaffModal-{{ staff.id }}" tabindex="-1" aria-labelledby="updateStaffModalLabel-{{ staff.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateStaffModalLabel-{{ staff.id }}">تعديل معلومات {{ staff.first_name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'nurseries:update_staff' staff.id %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="staff-first_name-{{ staff.id }}" class="form-label"> الاسم الأول</label>
                                                <input type="text" class="form-control" id="staff-first_name-{{ staff.id }}" name="first_name" value="{{ staff.first_name }}" required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="staff-last_name-{{ staff.id }}" class="form-label">اسم العائلة </label>
                                                <input type="text" class="form-control" id="staff-last_name-{{ staff.id }}" name="last_name" value="{{ staff.last_name }}" required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="staff-image-{{ staff.id }}" class="form-label">صورة</label>
                                                <input type="file" class="form-control" id="staff-image-{{ staff.id }}" name="image" accept="image/*">
                                               <br>
                                                الصورة الحالية : <img src="{{ staff.image.url }}" alt="" width="10%">
                                            </div>

                                            <div class="mb-3">
                                                <label for="staff-specializations-{{ staff.id }}" class="form-label">تخصصات</label>
                                                <textarea class="form-control" id="staff-specializations-{{ staff.id }}" name="specializations" required>{{ staff.specializations }}</textarea>
                                            </div>

                                            <div class="mb-3">
                                                <label for="staff-experience-{{ staff.id }}" class="form-label">سنوات الخبره</label>
                                                <textarea class="form-control" id="staff-experience-{{ staff.id }}" name="experience" required>{{ staff.experience }}</textarea>
                                            </div>

                                            <button type="submit" class="btn btn-primary">أحفظ التعديلات  </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal for staff Deletion Confirmation -->
                            <div class="modal fade" id="deleteStaffModal-{{ staff.id }}" tabindex="-1" aria-labelledby="deleteStaffModalLabel-{{ staff.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteStaffModalLabel-{{ staff.id }}">تأكيد الحذف </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            هل انت متاكد من حذف 
                                            {{ staff.first_name }} {{ staff.last_name }}؟
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">تراجع</button>
                                            <a href="{% url 'nurseries:delete_staff' staff.id %}" class="btn btn-danger">حذف</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-auto">
            <a class="mb-3" href="#staffCarousel" role="button" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
            </a>
        </div>
    </div>
</div>
</div>  



<!-- Modal for Adding Activity -->
<div class="modal fade" id="addActivityModal" tabindex="-1" aria-labelledby="addActivityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addActivityModalLabel">أضف نشاط</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'nurseries:add_activity' nursery.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-container">
                        <div class="mb-3">
                            <label for="activity-name" class="form-label">اسم النشاط</label>
                            <input type="text" class="form-control" id="activity-name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="activity-description" class="form-label">وصف النشاط</label>
                            <textarea class="form-control" id="activity-description" name="description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="activity-age-min" class="form-label">العمر الأدنى</label>
                            <input type="number" class="form-control" id="activity-age-min" name="age_min" required>
                        </div>
                        <div class="mb-3">
                            <label for="activity-age-max" class="form-label">العمر الأقصى</label>
                            <input type="number" class="form-control" id="activity-age-max" name="age_max" required>
                        </div>
                        <div class="mb-3">
                            <label for="activity-image" class="form-label">صورة النشاط</label>
                            <input type="file" class="form-control" id="activity-image" name="image">
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn" style="background-color: #FFFFFF; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);width: 150px;">أضف</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>         
<!-- Subscription Section -->
<h1 class="mt-3">باقاتنا</h1>
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <a href="{% url 'registrations:add_subscription' nursery.id %}" class="btn btn-light btn-lg rounded-pill shadow-sm" style="font-weight: bold; background-color:#FFFFFF;" data-bs-toggle="modal" data-bs-target="#addSubscriptionModal">
                <h6>أضافة باقة</h6>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid px-lg-5">

    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <a class=" mb-3" href="#subscriptionCarousel" role="button" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </a>
        </div>
        <div class="col-lg-8">
            <div id="subscriptionCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for subscription in subscriptions %}
                        {% if forloop.counter0|divisibleby:3 %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <div class="container">
                                    <div class="row">
                        {% endif %}
                                        <div class="col-md-4 col-sm-6 mb-4">
                                            <div class="card rounded-card">
                                                <div class="card-body color-activty">
                                                    <h1 class="mb-1">
                                                        
                                                        {% if subscription.duration_unit == 'day' %}
                                                        {{ subscription.duration_number }} يوم 
                                                        {% elif subscription.duration_unit == 'week' %}
                                                        {{ subscription.duration_number }} أسبوع
                                                        {% elif subscription.duration_unit == 'month' %}
                                                        {{ subscription.duration_number }} شهر
                                                        {% elif subscription.duration_unit == 'year' %}
                                                        {{ subscription.duration_number }} شهر
                                                        {% else %}
                                                          {{ subscription.duration_unit }}
                                                        {% endif %}
                                                      </h1>
                                                    <h5 class="card-title mb-1">
                                                        <br>
                                                        <span class="text-muted"> {{ subscription.price }}ريال سعودي</span>
                                                    </h5>
                                                    <p class="mb-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-arms-up mx-2" viewBox="0 0 16 16">
                                                            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                                            <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.810 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
                                                        </svg>
                                                        <span>{{ subscription.age_min }} - {{ subscription.age_max }}</span>
                                                    </p> 
                                                    <p class="card-text">
                                                        {{ subscription.description }}
                                                    </p>
                                                    <h6 class="mb-1" data-bs-toggle="modal" data-bs-target="#subscriptionModal-{{ subscription.id }}">
                                                        للحجز
                                                      </h6>                                                    
                                                </div>
                                            </div>
                                        </div>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Unique Modal for Each Subscription -->
                            <div class="modal fade" id="subscriptionModal-{{ subscription.id }}" tabindex="-1" aria-labelledby="subscriptionModalLabel-{{ subscription.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                        <form method="post" action="{% url 'registrations:registration_create' %}"" enctype="multipart/form-data">
                                            {% csrf_token %}  
                                            <input type="hidden" name="subscription_id" value="{{ subscription.id }}"> 
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <div class="modal-body">
                                            <h1 class="modal-title" id="subscriptionModalLabel-{{ subscription.id }}">باقه
                                                {% if subscription.duration_unit == 'day' %}
                                                {{ subscription.duration_number }} يوم 
                                                {% elif subscription.duration_unit == 'week' %}
                                                {{ subscription.duration_number }} أسبوع
                                                {% elif subscription.duration_unit == 'month' %}
                                                {{ subscription.duration_number }} شهر
                                                {% elif subscription.duration_unit == 'year' %}
                                                {{ subscription.duration_number }} شهر
                                                {% else %}
                                                  {{ subscription.duration_unit }}
                                                {% endif %}
                                            </h1>
                                            <h5 class="card-title mb-1">
                                                <br>
                                                <span class="text-muted mt-4 "> {{ subscription.price }}ريال سعودي</span>
                                            </h5>
                                            <p class="mb-1 mt-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-arms-up mx-2" viewBox="0 0 16 16">
                                                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                                    <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.810 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
                                                </svg>
                                                <span>{{ subscription.age_min }} - {{ subscription.age_max }}</span>
                                            </p> 
                                            <label class="mt-4" for="child-selection-{{ subscription.id }}" class="form-label"> الطفل:</label>
                                            <select class="form-select mt-4" id="child-selection-{{ subscription.id }}" name="child">
                                                {% for child in request.user.parent.child_set.all %}
                                                    <option value="{{ child.id }}">{{ child.first_name }} {{ child.last_name }}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <br>
                                            <div class="mb-3 text-center"> 
                                                <button type="submit" class="btn  w-75"  style="background-color: #FFFFFF; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);"><h5>أحجز</h5></button> 
                                              </div>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                </div>
            </div>

        </div>
        <div class="col-auto">
            <a class="mb-3" href="#subscriptionCarousel" role="button" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<!-- Modal for Adding Subscription -->
<div class="modal fade" id="addSubscriptionModal" tabindex="-1" aria-labelledby="addSubscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSubscriptionModalLabel">أضف باقة</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <form method="post" action="{% url 'registrations:add_subscription' nursery.id %}">
                    {% csrf_token %}
                    <div class="form-container" >
                      
                        <div class="mb-3">
                            <label for="subscription-duration-number" class="form-label">مدة الباقة (رقم)</label>
                            <input type="number" class="form-control" id="subscription-duration-number" name="duration_number" required>
                        </div>
                        <div class="mb-3">
                            <label for="subscription-duration-unit" class="form-label">وحدة الزمن</label>
                            <select class="form-control" id="subscription-duration-unit" name="duration_unit" required>
                                <option value="day"> يوم</option>
                                <option value="week">أسبوع</option>
                                <option value="month">شهر</option>
                                <option value="year">سنة</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="subscription-price" class="form-label">السعر</label>
                            <input type="text" class="form-control" id="subscription-price" name="price" required>
                        </div>
                        <div class="mb-3">
                            <label for="subscription-age-min" class="form-label">العمر الأدنى</label>
                            <input type="number" class="form-control" id="subscription-age-min" name="age_min" required>
                        </div>
                        <div class="mb-3">
                            <label for="subscription-age-max" class="form-label">العمر الأقصى</label>
                            <input type="number" class="form-control" id="subscription-age-max" name="age_max" required>
                        </div>
                        <div class="mb-3">
                            <label for="subscription-description" class="form-label">وصف الباقة</label>
                            <textarea class="form-control" id="subscription-description" name="description" required></textarea>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn" style="background-color: #FFFFFF; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);width: 150px;">أضف</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h1 class="mt-4 mb-4">الموقع </h1>
<!-- <iframe class="mt-4 mb-4" src="{{ nursery.address }}" width="1300" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
 
<!-- Modal for Adding Staff -->
<div class="modal fade" id="addStaffModal" tabindex="-1" aria-labelledby="addStaffModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStaffModalLabel">أضف عضو هيئة التدريس</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'nurseries:add_staff' nursery.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-container">
                        <div class="mb-3">
                            <label for="staff-first-name" class="form-label">الاسم الأول</label>
                            <input type="text" class="form-control" id="staff-first-name" name="first_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="staff-last-name" class="form-label">اسم العائلة</label>
                            <input type="text" class="form-control" id="staff-last-name" name="last_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="staff-image" class="form-label">صورة</label>
                            <input type="file" class="form-control" id="staff-image" name="image">
                        </div>
                        <div class="mb-3">
                            <label for="staff-specializations" class="form-label">التخصصات</label>
                            <textarea class="form-control" id="staff-specializations" name="specializations" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="staff-experience" class="form-label">الخبرة</label>
                            <textarea class="form-control" id="staff-experience" name="experience" required></textarea>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn" style="background-color: #FFFFFF; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);width: 150px;">أضف</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    

<!-- Modal for Adding Gallery Items -->
<div class="modal fade" id="addGalleryModal" tabindex="-1" aria-labelledby="addGalleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGalleryModalLabel">أضف صورة للمعرض</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'nurseries:add_gallery' nursery.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-container">
                        <div class="mb-3">
                            <label for="gallery-image" class="form-label">صورة</label>
                            <input type="file" class="form-control" id="gallery-image" name="image" accept="image/*" >
                        </div>
                        <!-- Optional video upload -->
                        <div class="mb-3">
                            <label for="gallery-video" class="form-label">فيديو (اختياري)</label>
                            <input type="file" class="form-control" id="gallery-video" name="video" accept="video/*">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">أضف إلى المعرض</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}