{% extends 'main/staff_dashboard.html' %}
{% load static %}

{% block title %}My requests{% endblock %}

{% block Dashboard-content %}

<link href="{% static 'css/main.css' %}?v=1.1" rel="stylesheet" />

<style>
    .rounded-card {
        border-radius: 1.5rem;
        overflow: hidden;
    }
    .card-body {
        background-color: #FFF3F4;
    }
</style>





<div class="container-fluid">
    <div class="row mt-4">
 {% for nursery in unverified_nurseries %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-lg rounded-card">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        <a href="{%url 'nurseries:nursery_detail' nursery.id %}">{{ nursery.name }}</a>

                        <!-- update icon -->
                        {% if nursery.status == 'pending' %}
                        <a data-bs-toggle="modal" data-bs-target="#updateModal-{{ nursery.id }}" href="#">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil me-3" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                        </a>
                        {% endif %}

                        <!-- delete icon -->

                        <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ nursery.id }}" href="#">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 me-3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </a>

                    </h5>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                              </svg>
                        </div>
                        <div class="col">
                            <h6 class="mb-0">{{ nursery.neighborhood }}</h6>
                        </div>
                        <h6 class="mt-3">حالة الطلب:
                            {% if nursery.status == 'rejected' %}
                            مرفوض
                            <br>
                            <p>سبب الرفض: {{ nursery.rejection_reason }}</p>

                            {% else %}
                                تحت الاجراء
                                <h1></h1>
                                <h1></h1>
                                <h1></h1>
                                <h1></h1>
                            {% endif %}
                           </h6>

                        </div>

            </div>
<!-- Modal for Update Form -->
<div class="modal fade" id="updateModal-{{ nursery.id }}" tabindex="-1" aria-labelledby="updateModalLabel-{{ nursery.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel-{{ nursery.id }}">تعديل بيانات الحضانه</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                Copy
                <form method="post" action="{% url 'nurseries:update_nursery' nursery.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="nursery-name-{{ nursery.id }}" class="form-label">الاسم</label>
                    <input type="text" class="form-control mb-3" id="nursery-name-{{ nursery.id }}" name="name" value="{{ nursery.name }}" required>
                    <div class="mb-3">
                        <label for="nursery-main-image-{{ nursery.id }}" class="form-label">صورة</label>
                        <input type="file" class="form-control" id="nursery-main-image-{{ nursery.id }}" name="main_image" accept="image/*" >
                        <img id="image-preview-{{ nursery.id }}" src="{{ nursery.main_image.url }}" alt="Current Image" class="img-thumbnail mt-2" style="max-width: 100%; display: block;">
                    </div>
                    <label for="nursery-address-{{ nursery.id }}" class="form-label">الموقع</label>
                    <input type="url" class="form-control mb-3" id="nursery-address-{{ nursery.id }}" name="address" value="{{ nursery.address }}" required>

                    <label for="nursery-contact_number-{{ nursery.id }}" class="form-label">رقم التواصل</label>
                    <input type="text" class="form-control mb-3" id="nursery-contact_number-{{ nursery.id }}" name="contact_number" value="{{ nursery.contact_number }}" required>

                    <label for="nursery-email-{{ nursery.id }}" class="form-label">الايميل</label>
                    <input type="email" class="form-control mb-3" id="nursery-email-{{ nursery.id }}" name="email" value="{{ nursery.email }}" required>

                    <label for="nursery-description-{{ nursery.id }}" class="form-label">نبذه عن الحضانة</label>
                    <textarea class="form-control mb-3" id="nursery-description-{{ nursery.id }}" name="description">{{ nursery.description }}</textarea>

                    <label for="min-age-{{ nursery.id }}" class="form-label">العمر الأدنى</label>
                    <input type="number" class="form-control" id="min-age-{{ nursery.id }}" name="min_age" required>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="min-age-years-{{ nursery.id }}" name="min_age_years">
                        <label class="form-check-label" for="min-age-years-{{ nursery.id }}">
                            بالسنوات
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="max-age-{{ nursery.id }}" class="form-label">العمر الأقصى</label>
                    <input type="number" class="form-control" id="max-age-{{ nursery.id }}" name="max_age" required>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="max-age-years-{{ nursery.id }}" name="max_age_years">
                        <label class="form-check-label" for="max-age-years-{{ nursery.id }}">
                            بالسنوات
                        </label>
                    </div>

                    <div class="mb-3">
                        <label for="nursery-neighborhood-{{ nursery.id }}" class="form-label">الحي</label>
                        <select class="form-control" id="nursery-neighborhood-{{ nursery.id }}" name="neighborhood" required>
                            {% for neighborhood in neighborhoods %}
                                <option value="{{ neighborhood.id }}" {% if neighborhood.id == nursery.neighborhood_id %}selected{% endif %}>{{ neighborhood.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="nursery-special_needs-{{ nursery.id }}" name="accepts_special_needs" value="True" {% if nursery.accepts_special_needs %}checked{% endif %}>
                        <label class="form-check-label" for="nursery-special_needs-{{ nursery.id }}">تقبل بذوي الاحتياجات الخاصة</label>
                    </div>

                    <button type="submit" class="btn btn-primary">أحفظ التعديلات</button>
                </form>
            </div>
        </div>
    </div>
</div>







        <!-- Modal for Deletion Confirmation -->
        <div class="modal fade" id="deleteModal-{{ nursery.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ doctor.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel-{{ nursery.id }}">تأكيد الحذف  </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        هل انت متاكد من حذف
                        "{{ nursery.name }}"
؟
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'nurseries:delete_nursery' nursery.id  %}" class="btn btn-danger">Delete</a>            </div>
                    </div>
            </div>
        </div>
        </div>

</div>
{% endfor %}

</div>
</div>
    <!-- Modal for Adding Nursery -->
    <div class="modal fade" id="addNurseryModal" tabindex="-1" aria-labelledby="addNurseryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNurseryModalLabel">أضف حضانة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'nurseries:add_nursery' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-container">
                            <div class="mb-3">
                                <label for="nursery-name" class="form-label">الأسم</label>
                                <input type="text" class="form-control" id="nursery-name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="nursery-main-image" class="form-label">صورة</label>
                                <input type="file" class="form-control" id="nursery-main-image" name="main_image" accept="image/*" >
                            </div>
                            <div class="mb-3">
                                <label for="nursery-address" class="form-label">الموقع</label>
                                <input type="text" class="form-control" id="nursery-address" name="address" required>
                            </div>
                            <div class="mb-3">
                                <label for="nursery-contact" class="form-label">رقم التواصل</label>
                                <input type="text" class="form-control" id="nursery-contact" name="contact_number" required>
                            </div>
                            <div class="mb-3">
                                <label for="nursery-email" class="form-label">الايميل</label>
                                <input type="email" class="form-control" id="nursery-email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="nursery-description" class="form-label">نبذه عن الحضانة</label>
                                <textarea class="form-control" id="nursery-description" name="description" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="nursery-special-needs" class="form-label">تقبل بذوي الاحتياجات الخاصة</label>
                                <input type="checkbox" class="form-check-input" id="nursery-special-needs" name="accepts_special_needs">
                            </div>
                            <div class="mb-3">
                                <label for="nursery-neighborhood" class="form-label">الحي</label>
                                <select class="form-control" id="nursery-neighborhood" name="neighborhood" required>
                                    {% for neighborhood in neighborhoods %}
                                        <option value="{{ neighborhood.id }}"> {{ neighborhood.city.name }},{{ neighborhood.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="commercial-registry" class="form-label">السجل التجاري</label>
                                <input type="file" class="form-control" id="commercial-registry" name="commercial_registry_file" required>
                            </div>

                            <div class="mb-3">
                                <label for="license-file" class="form-label">رخصة الحضانة</label>
                                <input type="file" class="form-control" id="license-file" name="license_file" required>
                            </div>
                            <label for="min-age" class="form-label">العمر الأدنى</label>
                            <input type="number" class="form-control" id="min-age" name="min_age" required>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="min-age-years" name="min_age_years">
                                <label class="form-check-label" for="min-age-years">
                                    بالسنوات
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="max-age" class="form-label">العمر الأقصى</label>
                            <input type="number" class="form-control" id="max-age" name="max_age" required>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="max-age-years" name="max_age_years">
                                <label class="form-check-label" for="max-age-years">
                                    بالسنوات
                                </label>
                            </div>
                        </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">أضف الحضانة</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
