{% extends 'main/admin_dashboard.html' %}
{% load static %}

{% block title %}Nurseries{% endblock %}

{% block Dashboard-content %}
<link href="{% static 'css/main.css' %}?v=1.1" rel="stylesheet" />

<style>
    .rounded-card {
        border-radius: 1.5rem;
        overflow: hidden; 
    }
    .card-body {
        background-color: #FFF3F4;
    }
    .form-section {
        margin-top: 20px;
    }
    .action-link {
        color: #343779; 
        text-decoration: none;
    }
    .action-link:hover {
        color:blue;
     }
 
</style>

<h1 class="mt-4">حضانات تحتاج الى توثيق</h1>

<div class="container-fluid mt-5">
    <div class="row mt-4">
        {% for nursery in unverified_nurseries %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-lg rounded-card">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        <a href="{% url 'nurseries:nursery_detail' nursery.id %}">تفاصيل {{ nursery.name }}</a>
                    </h5>
                    <h6>{{ nursery.neighborhood }}</h6>
                    <div class="mb-3 mt-4">
                        <a class="action-link " href="{{ nursery.commercial_registry_file.url }}" target="_blank">سجل تجاري</a>
                        <a class="action-link me-3" href="{{ nursery.license_file.url }}"   target="_blank">رخصة</a>
                    </div>
                    <div class="form-section">
                        <form method="post" action="{% url 'nurseries:verify_nurseries' %}">
                            {% csrf_token %}
                            <input type="hidden" name="nursery_id" value="{{ nursery.id }}">
                            <a href="javascript:;" onclick="parentNode.submit();" class="action-link" name="action" value="verify">قبول</a>
                            <a href="#" class="action-link me-3" data-toggle="modal" data-target="#rejectionModal-{{ nursery.id }}">رفض</a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Rejection Modal -->
            <div class="modal fade" id="rejectionModal-{{ nursery.id }}" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel-{{ nursery.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="rejectionModalLabel-{{ nursery.id }}"> سبب الرفض</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" action="{% url 'nurseries:verify_nurseries' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <input type="hidden" name="nursery_id" value="{{ nursery.id }}">
                                <textarea name="rejection_reason" placeholder="ادخل السبب" class="form-control"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">تراجع</button>
                                <button type="submit" name="action" value="reject" class="btn btn-danger"> تأكيد الرفض</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>لا توجد حضانات غير موثقه</p>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}