body {
  font-family: 'Markazi Text', sans-serif;
  line-height: 1.8;
}

main {
  min-height: calc(100vh - 395px);
}

.navbar-brand img {
  width: 230px;
  height: 100px;
  object-fit: cover;
}

.navbar-nav .nav-link {
  margin-right: 15px;
}

.nav-underline {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-underline .nav-link {
  color: #555;
  border-bottom: 2px solid transparent;
  padding: 10px 15px;
}

.nav-underline .nav-link:hover,
.nav-underline .nav-link.active {
  border-color: #F5888E;
}

.hero-section {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content .btn {
  margin: 5px;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.stats-section,
.nursery-section,
.reviews-section {
  text-align: center;
  padding: 50px 0;
}

.stats-section h5,
.nursery-section h2,
.reviews-section h2 {
  margin-bottom: 20px;
}

.nursery-cards img {
  width: 100%;
  border-radius: 10px;
}

.reviews-section {
  background-color: #F28B82;
  position: relative;
  padding-top: 150px;
  padding-bottom: 200px;
  max-width: 100vw;
}

.wave-top {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 160px;
  background: url('/static/main/images/wave-w-b.svg') no-repeat;
  background-size: cover;
  z-index: 1;
}

.wave-bottom-p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 50px;
  width: 100%;
  height: 150px;
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D'100%25'%20stroke-miterlimit%3D'10'%20style%3D'fill-rule%3Anonzero%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B'%20version%3D'1.1'%20viewBox%3D'1.13687e-13%201%201692%20134'%20width%3D'100%25'%20xml%3Aspace%3D'preserve'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Avectornator%3D'http%3A%2F%2Fvectornator.io'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%2F%3E%3CclipPath%20id%3D'ArtboardFrame'%3E%3Crect%20height%3D'134'%20width%3D'1692'%20x%3D'1.13687e-13'%20y%3D'1'%2F%3E%3C%2FclipPath%3E%3Cg%20clip-path%3D'url(%23ArtboardFrame)'%20id%3D'Layer'%20vectornator%3AlayerName%3D'Layer'%3E%3Cpath%20d%3D'M1692%2080.4099C1692%2080.4099%201648.43%2056.2102%201608.44%2054.5218C1567.86%2052.8335%201533.24%2054.5218%201483.71%2062.9636C1416.27%2074.2193%201286.16%20119.805%201216.93%2095.0423C1147.7%2070.2798%201144.71%2069.1542%201109.5%2053.3963C1070.11%2035.3872%20990.133-0.631013%20891.06%201.05734C785.422%202.7457%20593.841%2094.4795%20515.06%2089.9773C506.705%2089.4145%20475.67%2085.475%20452.394%2078.7216C429.714%2071.9682%20396.292%2057.3358%20350.933%2052.2707C331.835%2050.0196%20301.397%2046.0801%20266.184%2047.2057C257.232%2047.7684%20228.584%2049.4568%20194.565%2056.2102C160.546%2062.9636%20128.914%2073.6565%20100.267%2077.0332C38.794%2083.2238%201.13687e-13%2074.2193%201.13687e-13%2074.2193L1.13687e-13%20135L1692%20135L1692%2080.4099ZM1556.52%2071.4054C1552.34%2077.0332%201544.58%2073.6565%201530.86%2073.6565C1517.13%2073.6565%201494.45%2080.4099%201496.24%2079.8471C1498.03%2079.2844%201514.74%2071.4054%201532.05%2069.1542C1549.96%2066.3403%201560.1%2065.7775%201556.52%2071.4054ZM1446.7%2086.6005C1446.7%2086.6005%201432.38%2087.7261%201413.28%2091.6656C1394.18%2096.1679%201351.81%20107.424%201323.16%20111.363C1274.22%20117.554%201228.86%20111.363%201233.04%20110.8C1237.82%20110.237%201290.34%20114.177%201338.08%20104.61C1357.78%20100.67%201393.59%2092.2284%201412.09%2089.4145C1431.78%2086.0378%201446.7%2086.6005%201446.7%2086.6005ZM1105.32%2087.1633C1115.47%2091.1028%201027.94%2060.7125%20996.908%2052.8335C984.375%2049.4568%20957.905%2043.8289%20935.225%2041.5778C911.949%2039.3267%20882.108%2039.3267%20882.705%2038.7639C882.705%2037.6383%20917.321%2034.2616%20949.549%2038.7639C981.778%2043.2662%20980.584%2044.9545%20994.908%2047.7684C1017.59%2052.2707%201095.18%2083.2238%201105.32%2087.1633ZM1188.28%2096.1679C1189.47%2096.1679%201183.51%2098.419%201159.63%2089.9773C1135.76%2081.5355%201119.64%2070.2798%201118.45%2069.1542C1117.26%2068.5915%201139.34%2079.2844%201157.84%2086.0378C1175.75%2092.7912%201187.68%2096.1679%201188.28%2096.1679ZM1689.02%20101.233C1688.42%20100.67%201677.68%2095.0423%201660.37%2087.1633C1643.06%2079.2844%201619.19%2071.4054%201620.38%2071.9682C1621.57%2071.9682%201641.27%2075.3449%201664.55%2086.0378C1687.82%2096.7307%201689.61%20101.796%201689.02%20101.233ZM186.806%2069.717C187.403%2070.8426%20175.467%2070.8426%20159.949%2076.4704C144.432%2082.0983%20127.721%2085.475%20113.397%2087.7261C89.524%2092.2284%2043.568%2087.1633%2045.956%2086.6005C47.746%2086.0378%2094.895%2088.2889%20120.559%2082.6611C133.689%2079.8471%20134.883%2079.8471%20154.578%2073.6565C174.273%2067.4659%20186.21%2068.0287%20186.806%2069.717ZM435.683%2083.2238C438.07%2083.7866%20456.571%2092.2284%20485.816%2097.8562C515.06%20104.047%20538.933%20100.67%20538.933%20102.359C538.933%20104.047%20532.965%20107.424%20501.93%20104.047C470.895%20100.67%20433.295%2082.6611%20435.683%2083.2238ZM427.327%2097.2935C428.521%2096.7307%20447.619%20104.61%20461.346%20106.861C475.073%20108.549%20472.686%20109.675%20472.686%20110.237C472.686%20110.8%20466.121%20111.363%20456.571%20109.112C446.425%20106.298%20426.133%2097.8562%20427.327%2097.2935ZM558.629%20110.237C559.225%20109.112%20579.517%20105.735%20592.051%20100.107C604.584%2094.4795%20602.794%2096.7307%20603.391%2097.2935C603.987%2097.8562%20598.616%20101.796%20589.067%20104.61C579.517%20107.986%20558.032%20111.363%20558.629%20110.237ZM390.324%2072.5309C389.727%2070.8426%20392.114%2069.717%20401.664%2073.6565C411.213%2077.596%20417.181%2080.9727%20414.794%2080.4099C412.406%2079.8471%20409.422%2078.1588%20399.873%2075.9076C389.727%2073.6565%20390.921%2074.2193%20390.324%2072.5309ZM205.905%2065.2148C204.711%2065.2148%20218.438%2060.7125%20225.6%2060.1497C232.762%2059.5869%20237.537%2059.5869%20237.537%2061.2753C237.537%2062.9636%20236.94%2064.0892%20227.987%2063.5264C218.438%2062.9636%20207.098%2065.2148%20205.905%2065.2148ZM908.368%2016.2525C907.771%2015.6897%20894.044%2017.9409%20863.606%2017.9409C833.765%2017.9409%20782.438%2031.4477%20760.952%2037.6383C739.467%2043.8289%20820.635%2015.6897%20859.429%2014.5642C898.222%2013.4386%20908.965%2016.8153%20908.368%2016.2525Z'%20fill%3D'%23343779'%20fill-rule%3D'nonzero'%20opacity%3D'1'%20stroke%3D'none'%20vectornator%3AlayerName%3D'path'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: cover;
}

.footer {
  background-color: #343779;
  color: white;
  padding: 50px 0;
  position: relative; /* Ensures that the wave-top stays within the footer area */
  z-index: 2;
}

.footer h1, .footer h2, .footer h3,
.footer h4, .footer h5, .footer h6 {
  color: whitesmoke;
}

.footer .quick-links a,
.footer .contact-info {
  color: white;
  display: block;
  margin-bottom: 10px;
}

.footer .container {
  position: relative;
  z-index: 3;
}

.ylo-section-wrapper {
  position: relative;
  background-color: #FDFAF0;
  min-height: 300px;
  overflow: hidden;
}

.ylo-section-wrapper::before,
.ylo-section-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.ylo-section-wrapper::before {
  top: 0;
  left: 0;
  background-image: url('/static/main/images/w-t.png');
}

.ylo-section-wrapper::after {
  bottom: 0;
  left: 0;
  background-image: url('/static/main/images/w-b.png');
}

.ylo-section {
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.custom-filter-btn,
.btn-dark.rounded-pill,
.btn-outline-secondary.rounded-pill {
  height: 40px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-dark.custom-filter-btn,
.btn-dark.rounded-pill {
  background-color: #343779;
  border-color: #343779;
  color: white;
}

.btn-dark.custom-filter-btn:hover,
.btn-dark.rounded-pill:hover {
  background-color: #2b2d68;
  border-color: #2b2d68;
  color: white;
}

.btn-outline-pink {
  background-color: transparent !important;
  border-color: #F5888E !important;
  color: #F5888E !important;
}

.btn-outline-pink:hover {
  background-color: #F5888E !important;
  border-color: #F5888E !important;
  color: white !important;
}


.form-check {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
}

.form-check-input {
  margin-left: 0;
  order: 2;
  accent-color: #F28B82;
}

.form-check-label {
  margin-bottom: 0;
  font-size: 1rem;
  order: 1;
  margin-left: 0
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .filter-buttons .dropdown,
  .filter-buttons .form-check,
  .filter-buttons .btn {
      width: 100%;
      margin-bottom: 10px;
  }

  .filter-buttons {
      justify-content: center;
  }
}


.pagination {
  gap: 10px;
}

.pagination .page-link {
  min-width: 40px;
  height: 40px;
  padding: 0 10px;
  border-radius: 50%;
  text-align: center;
  background-color: transparent;
  border-color: #F5888E;
  color: #F5888E;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-link:hover {
  background-color: #F5888E;
  color: white;
  border-color: #F5888E;
}

.pagination .page-item.active .page-link {
  background-color: #F5888E;
  border-color: #F5888E;
  color: white;
}

.pagination .page-item.disabled .page-link {
  color: #ddd;
  background-color: transparent;
  border-color: #ddd;
}



.row.gy-4 {
  row-gap: 5rem;
}

.nursery-card {
  border: 3px dotted;
}


.btn-size {
  width: 100px;
  height: 40px;
  font-size: 1rem;
}

.bi-patch-check {
  width: 24px;
  height: 24px;
  fill: #F5888E;
}



#galleryCarousel .carousel-item img,
#galleryCarousel .carousel-item video {
    height: 60vh;
    object-fit: contain;
}


#galleryCarousel .carousel-control-prev-icon,
#galleryCarousel .carousel-control-next-icon {
    background-image: none;
}

#galleryCarousel .carousel-control-prev-icon::after,
#galleryCarousel .carousel-control-next-icon::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid #343779;
    border-width: 0 3px 3px 0;
}

#galleryCarousel .carousel-control-prev-icon::after {
    transform: rotate(135deg);
    margin-right: 4px;
}

#galleryCarousel .carousel-control-next-icon::after {
    transform: rotate(-45deg);
    margin-left: 4px;
}


hr {
  border: none;
  border-top: 2px dotted #ccc;
}




/* Light Mode (Default) */
body {
  font-family: 'Markazi Text', sans-serif;
  line-height: 1.8;
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar-brand img {
  filter: brightness(0.8);
}

body.dark-mode .nav-underline .nav-link {
  color: #bbb;
}

body.dark-mode .nav-underline .nav-link.active,
body.dark-mode .nav-underline .nav-link:hover {
  border-color: #bbb;
}

body.dark-mode .hero-content h1 {
  color: #f1f1f1;
}

body.dark-mode .hero-content .btn {
  color: #f1f1f1;
  border-color: #f1f1f1;
}

body.dark-mode .stats-section h5,
body.dark-mode .nursery-section h2,
body.dark-mode .reviews-section h2 {
  color: #e0e0e0;
}

body.dark-mode .footer {
  background-color: #1c1c1c;
}

body.dark-mode .footer .quick-links a,
body.dark-mode .footer .contact-info {
  color: #dddddd;
}

body.dark-mode .btn-outline-pink {
  border-color: #f28b82 !important;
  color: #f28b82 !important;
}

body.dark-mode .btn-outline-pink:hover {
  background-color: #f28b82 !important;
  color: #ffffff !important;
}

body.dark-mode .nursery-card {
  border-color: #f28b82;
}

body.dark-mode hr {
  border-top: 2px dotted #666;
}

/* Dark Mode for Pagination */
body.dark-mode .pagination .page-link {
  border-color: #bbb;
  color: #bbb;
}

body.dark-mode .pagination .page-link:hover,
body.dark-mode .pagination .page-item.active .page-link {
  background-color: #333;
  border-color: #bbb;
  color: #fff;
}
