{% extends 'main/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block hero %}

<section class="ylo-section-wrapper">
  <div class="container hero-padding">
    <div class="d-flex justify-content-between align-items-center py-5 mt-5 mb-3">
      <!-- Welcome message at the start -->
      <h1>مرحبا بعودتك، !</h1>

      <!-- Collapsible Alerts Section now at the end -->
      <div class="d-flex align-items-center">
        <span class="material-symbols-outlined ">
          notifications
        </span>
        <a data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" class="d-flex align-items-center">تنبيهات</a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="alert alert-warning" role="alert">
            {% if unverified_count %}
            <h4>عمليات التحقق المطلوبة</h4>
            <p>يوجد حاليا <strong>{{ unverified_count }}</strong> حضانة بانتظار التحقق. يرجى مراجعة الطلبات لضمان التزام الحضانات بالمعايير المطلوبة.</p>
            <a href="{% url 'nurseries:verify_nurseries' %}" class="btn btn-outline-pink">مراجعة الحضانات</a>
            {% else %}
            <h4>لا توجد تنبيهات  </h4>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</section>

{% endblock %}

{% block content %}
<style>
    .nav-underline {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .nav-underline .nav-link {
        color: #555;
        border-bottom: 2px solid transparent;
        padding: 10px 15px;
    }

    .nav-underline .nav-link:hover {
        border-color: #F5888E;
    }

    .nav-underline .nav-link.active {
        border-color: #F5888E;
    }
</style>

<nav class="nav nav-underline">
  <li class="nav-item">

    <a class="nav-link {% if request.resolver_match.url_name == 'admin_nursery_statistics' %}active{% endif %}" href="{% url 'nurseries:admin_nursery_statistics' %}">احصائيات الموقع </a>
  </li>

  <li class="nav-item">

    <a class="nav-link {% if request.resolver_match.url_name == 'verify_nurseries' or request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}" href="{% url 'nurseries:verify_nurseries' %}">طلبات تسجيل الحضانات  

    </a>

  </li>

</nav>


<div class="container">
    {% block Dashboard-content %}
    {% endblock %}
</div>
{% endblock %}
