{% extends 'main/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    .nav-underline {
        display: flex;                
        justify-content: center; 
        padding: 10px 0;             
    }

    .nav-underline .nav-link {
        color: #555;
        border-bottom: 2px solid transparent; 
        padding: 10px 15px;  
    }

    .nav-underline .nav-link:hover {
        border-color: #F5888E;
    }

    .nav-underline .nav-link.active {
        border-color: #F5888E;
    }
</style>

<nav class="nav nav-underline">
  <li class="nav-item">
    
    <a class="nav-link {% if request.resolver_match.url_name == 'owner_nursery_statistics' %}active{% endif %}" href="{% url 'nurseries:owner_nursery_statistics' %}">احصائيات الحضانة</a>

  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'owner_requests_view' %}active{% endif %}" href="{% url 'nurseries:owner_requests_view' %}">طلباتي</a>
  </li>
  <li class="nav-item">
    
    <a class="nav-link {% if request.resolver_match.url_name == 'children_requests' %}active{% endif %}" href="{% url 'nurseries:children_requests' %}">طلبات تسجيل الاطفال  
    </a>

  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'nurseries_view' %}active{% endif %}" href="{% url 'nurseries:nurseries_view' %}">الحضانات</a>

  </li>
</nav>


<div class="container">
    {% block Dashboard-content %}
    {% endblock %}
</div>
{% endblock %}