{% extends "main/base.html" %}

{% block title %} سياسة الاستخدام{% endblock %}

{% block hero %}
<style>
    /* .about {
        background-color: #FDFAF0;
        border-radius: 15px;
        padding: 20px;
        max-width: 1400px;
        margin: auto;
        height: auto;
    }

    .section h2 {
        color: #343779;
        cursor: pointer;
        margin-bottom: 0;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px;
        transition: border-color 0.3s ease;
        margin-bottom: 3rem;
    }

    .section.active h2 {
        border-color: #F5878E;
    }

    .content p {
        color: #666;
        line-height: 1.5;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        max-height: 0;
        padding: 0 20px;
    }

    .content.active p {
        max-height: 500px;
        padding-top: 20px;
        font-size: 1.2rem;
    }

    .note-title {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    .note-text {
        font-size: 18px;
        color: #666;
        line-height: 1.5;
    } */
</style>

<section class="ylo-section-wrapper">
    <div class="container py-5 text-center">
        <h2 class="py-5 mb-3 mt-4">  سياسة الاستخدام      </h2>
        <p class="note-text">
            مرحبًا بكم في دليل الحضانات، المنصة الإلكترونية المصممة لتسهيل عملية البحث والتسجيل في حضانات الأطفال في السعودية. باستخدام هذا الموقع، فإنك توافق على الالتزام بشروط وأحكام هذه السياسة. يرجى قراءة هذه السياسة بعناية قبل استخدام الموقع
        </p>
    </div>


<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion">
          <h2 class="accordion">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3>
                    التسجيل والحسابات

                </h3>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong>أولياء الأمور</strong></p>
                <p><strong>مدراء الحضانات</strong></p>
            </div>
          </div>
        </div>
        <div class="accordion">
          <h2 class="accordion">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3>
                    التسجيل والحسابات

                </h3>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong>أولياء الأمور</strong></p>
                <p><strong>مدراء الحضانات</strong></p>
            </div>
          </div>
        </div>

    </div>
</div>

</section>


{% endblock hero %}
